@media screen and (max-width: 576px) {
  body {
    .tong {
      display: block;
      height: auto;
    }
    .stylelaco {
      display: block;
    }
    .scopes {
      display: block;
    }
  }
}
